* {
    box-sizing: border-box;
}

iframe{
    border-style: none;
}

#gullFrame {
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 300px;
    overflow: hidden;
    border: 1px solid #555555;
}

#gullFrameWrapper {
    display: none;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
}

.btn:hover {
    opacity: 1;
}

.open {
    background-color: #555;
}

.cancel {
    background-color: red;
}

#authForm {
    display: none;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    width: 300px;
    padding: 10px;
    background-color: white;
}

#gullQuestion {
    display: none;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

