<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>protogull test</title>
    <script data-url="ws://demo2.oktell.ru/ws/token/v1/af0f1b0b4aa85418aa687f5e857df1c0" src="<%= htmlWebpackPlugin.files.chunks.protogull.entry %>"></script>
</head>
<body></body>
</html>
